* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* yaha say upr jo code hai wo footer ko bottom pr rkhne k liye hai bhalay content km he ho */
